body {
    background-color: rgb(243,242,238);
}

.card-contact, .card-address {
    height: 100px
} 

.row-parcours-graph {
    height: 400px;
}

.navbar-brand {
    width: 20px;
}

#cda span, #position, #envelope, #btn-contact, #btn-cv, #exp-2015, #exp-2018{
    color: rgb(24,83,179);
}

#cda span {
    font-weight: 800;
}

#btn-contact, #btn-cv {
    background-color: rgb(24,83,179);
}